.header-container {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.header-details {
	margin-left: 150px;
}

.header-details h1 {
	font-size: 40px;
	font-weight: 800;
}

.header-details p {
	font-size: 20px;
	line-height: 15px;
	font-weight: 600;
}

.header-details span {
	font-size: 24px;
	color: #830f08;
	font-weight: 800;
}

.header-image img {
	width: 80%;
}

@media screen and (max-width: 1200) {
	.header-container {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 700px) {
	.header-container {
		grid-template-columns: 1fr;
	}

	.header-details {
		margin-left: 0px;
	}

	.header-image img {
		width: 80%;
	}
}
